<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.justin.hzwl.myhzwl">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity"/>
        <activity android:name=".activity.GuideActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.mainView.loginView.LoginActivity">

        </activity>
        <activity android:name=".activity.FeedbackActivity"/>
        <activity android:name=".activity.mainView.drawerView.AboutActivity"/>
        <activity android:name=".activity.mainView.drawerView.MyselfActivity"/>
        <activity android:name=".activity.mainView.drawerView.WalletActivity"/>

        <activity android:name=".activity.mainView.searchView.SearchActivity"/>
        <activity android:name=".activity.mainView.searchView.SearchSuccessActivity"/>
        <activity android:name=".activity.mainView.NewsActivity"/>
        <activity android:name=".activity.mainView.SuggestActivity"/>
        <activity android:name=".activity.mainView.blanceView.BlancedesActivity"/>
        <activity android:name=".activity.mainView.blanceView.RechangeActivity"/>
        <activity android:name=".activity.mainView.loginView.RegistActivity"/>
        <activity android:name=".activity.mainView.loginView.ForgetActivity"/>
        <activity android:name=".activity.mainView.blanceView.RuleActivity"/>
        <activity android:name=".activity.mainView.drawerView.HistoryActivity"/>
        <activity android:name=".activity.mainView.searchView.HelpActivity"/>
        <activity android:name=".activity.mainView.loginView.AccreditActivity"/>
        <activity android:name=".activity.mainView.loginView.ResetcodeActivity"/>

    </application>

</manifest>